source http://nuget.org/api/v2
redirects: on
strategy: max

nuget Fantomas
nuget FSharp.Compiler.Service content: none 
nuget FSharp.Core 4.0.0.1
nuget FSharpLint.Core prerelease
nuget FsPickler
nuget Microsoft.CodeAnalysis.Common prerelease
nuget Microsoft.CodeAnalysis.Workspaces.Common prerelease
nuget Microsoft.CodeAnalysis.Features prerelease
nuget SourceLink.SymbolStore 0.5.0
nuget Newtonsoft.Json
nuget Suave
nuget ExtCore

group Test
    source http://nuget.org/api/v2

    nuget FsCheck
    nuget FSharp.Compiler.Service.ProjectCracker
    nuget NUnit
    nuget NUnit.Runners
    nuget FSharp.Management
    nuget FSharp.Data

group Build
    source http://nuget.org/api/v2
    
    nuget canopy
    nuget FAKE
    nuget FSharp.Formatting
    nuget Nuget.CommandLine
    github fsharp/FAKE modules/Octokit/Octokit.fsx